<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-primary-subtle ">
    <div class="container-fluid">
        <div class="col-12">
            <div class="wrapper d-flex justify-content-between pe-5 ps-5">
                <div class="">
                    <h2 class="fs-1">Ecommunity</h2>

                </div>
                <div class="">
                    <a class="btn fs-4 me-3" *ngIf="loggedIn" > User : {{ user | userpipe}}</a>

                    <a class="btn fs-4 " routerLink="/admin/login" *ngIf="!loggedIn">Admin Login</a>

                    <a class="btn fs-4" routerLink="user/login" *ngIf="!loggedIn">Login</a>

                    <a class="btn fs-4" routerLink="user/register" *ngIf="!loggedIn">Register</a>

                    <a class="btn fs-4" *ngIf="loggedIn" (click)="logOut()">Log Out</a>
        
                </div>
            </div>
        </div>  
    </div>
  </nav>

