<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="wrapper text-center pt-4">
                <div>
                    <h1 class="fs-1">Welcome to Ecommunity</h1>

                </div>
                <div class="mt-4 d-flex flex-row justify-content-center gap-2 ">
                    <div class="">
                        <input type="text" placeholder="Product Code" class="rounded ps-2">
                    </div>

                    <div class="">
                        <input type="text" placeholder="Product Name" class="rounded ps-2">
                    </div>

                    <div class="">
                        <input type="text" placeholder="Product Brand" class="rounded ps-2">
                    </div>

                    <div class="">
                        <button class="btn btn-primary px-3 pt-1 pb-1" (click)="search()">Search</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>