<div class="container-fluid p-5">
    <div class="row pb-5">
        <div class="col-12">
            <div class="wrapper d-flex ">

                <div class="col-6 d-flex flex-row justify-content-center">
                    <div class="image">
                        <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/8911535/2022/11/3/a1450159-046a-4855-8589-face76d1dcf71667468227453-Campus-Men-Navy-Blue-Running-Shoes-2131667468227097-1.jpg" alt="" >
                    </div>
                </div>
                <div class="col-6 ">
                    <div class="">
                    <h3>title</h3>
                    <p class="fs-4">rating</p>
                    <p class="fs-4">review</p>
                    <p>Description</p>
                    <p>ghhjk</p>
                </div>
                <div class="pt-3">
                    <button class="btn btn-primary px-3 " (click)="review()">Add a review</button>
                </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-12">
            <div class="wrapper">
                <h5>Review</h5>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-12">
            <div class="wrapper">
                <div class="border border-dark p-3 rounded d-flex  ">
                    <div class="col-6">
                        <h5>title</h5>
                        <p>vch</p>
                        <p>vch</p>
    
                    </div>
                    <div class="col-6 text-end">
                       <span class="fw-bold">4</span> rating
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>