<div class="container-fluid p-5" style="background-color: #e7f2f9;">
    <div class="row ">
        <div class="col-md-8 col-lg-5 col-sm-10 offset-md-3 " style="margin: auto;">

            <form [formGroup]="addProductForm" class="shadow p-5 bg-white rounded-4">
                <div class="mb-3 text-center">
                    <h2>Product Information</h2>
                </div>

                <div class="mb-3">
                    <label for="productname" class="pb-2">Product Name</label>
                    <input type="text" class="form-control" formControlName="productname" name="productname" id="productname"
                        placeholder="Product Name">
                </div>

                <div class="mb-3 row ">
                    <div class=" col-md-6">
                        <label for="productbrand" class="pb-2">Product Brand</label>
                        <input type="text" class="form-control" formControlName="productbrand" name="productbrand" id="productbrand"
                            placeholder="Product Brand">
                    </div>
                    <div class=" col-md-6">
                        <label for="productcode" class="pb-2">Product Code</label>
                        <input type="text" class="form-control" formControlName="productcode" name="productcode" id="productcode"
                            placeholder="Product Code">

                    </div>
                </div>


                <div class="mb-3">
                    <label for="productdescription" class="pb-2">Product Description</label>
                    <input type="text" class="form-control" formControlName="productdescription" name="productdescription" id="productdescription"
                        placeholder="Product Description">
                </div>

                <div class="mb-3">
                    <label for="productimagelink" class="pb-2">Product Image Link</label>
                    <input type="text" class="form-control" formControlName="productimagelink" name="productimagelink" id="productimagelink"
                        placeholder="Product Image Link">
                </div>


                <div class="mb-3 text-center pt-4">
                    <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
                </div>


            </form>
        </div>
    </div>
</div>