<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="wrapper pt-5">
                <div class="row d-flex flex-row justify-content-center">
                    <div class="col-6">
                        <div class="text-center pb-5">
                            <h3>Submit a Review</h3>
                        </div>
                        <div class="card p-5 d-flex flex-column gap-2">
                            <label for="heading">Heading : </label>
                            <input type="text" id="heading">
                            <label for="review">Review</label>
                            <textarea name="" id=""></textarea>
                            <div class="">
                                <label for="rating">Rating</label>
                            </div>
                            <div class="text-center pt-2">
                                <button class="btn btn-primary rounded">Submit Review</button>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>