<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="wrapper pt-5">
                <div class="row d-flex flex-row justify-content-center">
                    <div class="col-6">
                        <div class="text-center pb-5">
                            <h3>Submit a Review</h3>
                        </div>
                        <div class="card p-5 d-flex flex-column gap-2">

                            <form #form="ngForm">
                                <div>
                                    <label for="heading">Heading :</label>
                                    <input type="text" name="heading" id="heading" [(ngModel)]="reviewData.heading"minlength="5" maxlength="100" class="form-control" required />


                                    <label for="review">Review :</label>
                                    <textarea id="description" name="description" [(ngModel)]="reviewData.description" class="form-control" minlength="10"
                                        maxlength="300" required></textarea>


                                    <label for="review">Rating :</label>
                                    <p-rating id="rating" name="rating"[(ngModel)]="reviewData.rating" aria-required="" />

                                </div>

                                <div class="text-center pt-2">
                                    <button class="btn btn-primary rounded" (click)="submitReview()">Submit
                                        Review</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>