<section class="vh-100 ">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-75  ">
      <div class="text-center ">
        <h1>Admin Login Here</h1>
      </div>

      <div class="col-md-8 col-lg-7 col-xl-6 ">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid"
          alt="Phone image">
      </div>

      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 ">

        <form [formGroup]="adminLoginForm">

          <!-- username input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Username</label>
            <input type="text" id="form1Example13" class="form-control form-control-lg" formControlName="username"
              name="username" placeholder="Enter username" appAlphabetdirective />
          </div>

          <!-- Password input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="form1Example23">Password</label>

            <div class="input-group form">
              <input type="{{isPasswordVisible? 'text' : 'password'}}" id="form1Example23"
                class="form-control form-control-lg" formControlName="password" name="password"
                placeholder="Enter your password" appPassworddirective />

              <button type="button" class="btn btn-light px-4 fs-4 " (click)="togglePasswordVisibility()">
                <i class="bi" [ngClass]="isPasswordVisible ? 'bi-eye-slash' : 'bi-eye' "></i>
              </button>
            </div>
            <div class="text-danger" *ngIf="adminLoginForm.controls['password'].errors?.['passwordStrength']">Password
              must contain at least one letter, one number, and one special character.
            </div>

          </div>

          <!-- Submit button -->
          <div class="d-flex flex-row justify-content-center gap-5">

            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block"
              (click)="login()">Login</button>

            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary btn-lg btn-block"
              (click)="reset()">Reset</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>